<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{tablename}</title>
</head>
<body>

    <a href="/view_selected_db"><- Back</a>
    <a href="/dropTable/{{tablename}}">Drop Table</a>
    <table>
        <thead>
            <tr>
                {% for column in column_names %}
                <th>{{ column }}</th>
                {% endfor %}
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
                <td><a href="/delete/{{ column_names[0] }}_{{ row[0] }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
