<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h3>Choose Table:</h3>
    <form action="{{ url_for('view_selected_db') }}" method="post">
        <select name="tablechoose" id="tablechoose">
            {{ table_names_html | safe}}
        </select>
        <input type="submit" value="Submit">
    </form>
    <a href="/db_view"><- Back</a>
    <a href="/dropDB/{{db_name_html}}">Drop Database</a>
</body>
</html>