<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Upload a File</title>
</head>
<body>
    <h3>Upload Schema or Data .sql file</h3>
    <form action="/addDB" method="POST" enctype="multipart/form-data">
        <input type="file" name="db_file">
        <input type="submit" value="Upload">
    </form>
    <a href="/db_view"><- Back</a>
</body>
</html>